.logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo_black {
  color: var(--secondary-color);
}
.logo_white {
  color: var(--bg-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
/* .logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
} */
