.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  overflow-y: scroll;
  z-index: 1;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu__container {
  position: relative;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* width: 100%; */
}
.mobile-menu-open-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}
.mobile-menu-open-btn:hover .mobile-menu-open-btn__icon,
.mobile-menu-open-btn:focus .mobile-menu-open-btn__icon {
  fill: var(--accent-color);
}
.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}
.mobile-menu__close-btn:hover .mobile-menu__close-icon,
.mobile-menu__close-btn:focus .mobile-menu__close-icon {
  fill: var(--accent-color);
}
.mobile-menu__nav-item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__nav-link {
  text-decoration: none;
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.mobile-menu__nav-link_current {
  color: var(--accent-color);
}
.mobile-menu__contact-list {
  margin-bottom: 64px;
}
.mobile-menu__contact-item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__contact-phone {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mobile-menu__contact-email {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.mobile-menu__socials {
  display: flex;
  flex-wrap: wrap;
}
.mobile-menu__social-item:not(:last-child) {
  margin-right: 20px;
}
.mobile-menu__social-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mobile-menu__social-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 10px;
  right: -20px;
  display: block;
  width: 22px;
  height: 2px;
  background-color: rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}
.mobile-menu__social-item {
  position: relative;
}
