.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  background: var(--bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: translate var(--transition-data) scale var(--transition-data);
}
.backdrop.is-hidden .modal {
  transform: translate(-30%, -30%) scale(0.7);
}
.modal__close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent;
  cursor: pointer;
}
.modal__icon {
  transition: fill var(--transition-data);

  .modal__close-btn:hover &,
  .modal__close-btn:focus & {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 450px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
