.project {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: inherit;
  text-decoration: none;
  transition: box-shadow var(--transition-data);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.project__container {
  position: relative;
  overflow: hidden;
}
.project__container::before {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform var(--transition-data);

  .project:hover &,
  .project:focus & {
    transform: translateY(0);
  }
}
.project__text {
  position: absolute;
  bottom: -100%;
  padding: 77px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--bg-color);
  transition: bottom var(--transition-data);

  .project:hover &,
  .project:focus & {
    bottom: 0;
    opacity: 1;
  }
}
.project__meta {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}
.project__type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .project__text {
    padding: 49px 24px 77px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .project__text {
    padding: 63px 24px;
  }
}
