.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__no-padding-top {
  padding-top: 0;
}
.section__secondary-bg {
  background-color: #f5f4fa;
}
.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-color);
}
