:root {
  --primary-color: #757575; /*MAIN COLOR nav-address, text*/
  --secondary-color: #212121; /*nav-link, section titles*/
  --accent-color: #2196f3; /*accent*/
  --bg-color: #ffffff; /*bg, hero-title, team-item, footer post address, logo-studio in footer*/
  --transition-data: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
