.peculiarities-list {
  display: flex;
  flex-wrap: wrap;
}
.peculiarities-list__item {
  width: 270px;

  &:not(:nth-child(4n)) {
    margin-right: 30px;
  }
}
.peculiarities-list__icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}
.peculiarities-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.peculiarities-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
